<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


	<!-- Root Context: defines shared resources visible to all other web components -->

	<mvc:annotation-driven><mvc:message-converters><bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/></mvc:message-converters></mvc:annotation-driven>

	<context:component-scan
		base-package="com.sample" />

	<!-- <mvc:resources mapping="/resources/**" location="/resources/" /> -->

	<!-- Use in-memory embedded H2 database -->
	<jdbc:embedded-database id="dataSource"
		type="H2">
	</jdbc:embedded-database>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="org.h2.Driver"/>
	<property name="url" value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1"/>
	<property name="username" value="sa"/>
	<property name="password" value=""/>
	</bean> 

	<!-- Run H2 web server within application that will access the same in-memory 
		database -->
	<!-- <bean id="h2Server" class="org.h2.tools.Server" factory-method="createTcpServer" 
		init-method="start" destroy-method="stop" depends-on="h2WebServer"> <constructor-arg 
		value="-tcp,-tcpAllowOthers,-tcpPort,9092"/> </bean> <bean id="h2WebServer" 
		class="org.h2.tools.Server" factory-method="createWebServer" init-method="start" 
		destroy-method="stop"> <constructor-arg value="-web,-webAllowOthers,-webPort,8082"/> 
		</bean> -->
	<!-- <bean id="entityManager" class=" javax.persistence.EntityManager">
		<property name="dataSource" ref="dataSource" />
	</bean> -->
	<!-- Database managed by Hibernate -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.sample.entity</value>
			</list>
		</property>
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider" />
		</property>
		<property name="jpaProperties">
			<map>
				<entry key="hibernate.dialect"
					value="org.hibernate.dialect.H2Dialect" />
				<entry key="hibernate.hbm2ddl.auto" value="create" />
				<entry key="hibernate.show_sql" value="true" />
			</map>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven
		transaction-manager="transactionManager" />

</beans>